# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.*.local
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production
.env.staging
.env.test
.env.development
.env.ci
.env.testci
.env.preview
.env.demo
.env.qa
.env.stage
.env.prod
.env.build
.env.*.env
.env.*.production
.env.*.staging
.env.*.development
.env.*.test
.env.*.local
.env.*.ci
.env.*.testci
.env.*.preview
.env.*.demo
.env.*.qa
.env.*.stage
.env.*.prod
.env.*.build
.env.test.local
.env.production.local
.env.staging.local
.env.demo.local
.env.qa.local
.env.stage.local
.env.prod.local
.env.build.local
.env.ci.local
.env.testci.local
.env.preview.local
.env.*.env.local
.env.*.production.local
.env.*.staging.local
.env.*.development.local
.env.*.test.local
.env.*.ci.local
.env.*.testci.local
.env.*.preview.local
.env.*.demo.local
.env.*.qa.local
.env.*.stage.local
.env.*.prod.local
.env.*.build.local
.envrc
.env.*.envrc
.env.*.localrc
.envrc.local
.env.*.envrc.local
.env.*.localrc.local
.env.testrc
.env.developmentrc
.env.productionrc
.env.stagingrc
.env.circsrc
.env.testcircrc
.env.previewrc
.env.demorc
.env.qarc
.env.stagerc
.env.prodrcrc
.env.buildrc
.env.*.testrc
.env.*.developmentrc
.env.*.productionrc
.env.*.stagingrc    